@model WebProject.Models.Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Login.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" rel="stylesheet" />
    <title>Login</title>
</head>
<body>


    <div class="container" >
        <div class="row" >
            <div class="col-md-6" >
                <div class="card">
                    <form action="/My/Login" method="post" class="box">
                        <h1>Login</h1>
                        <p class="text-muted"> Please enter your Email and Password!</p>
                        <input type="text" name="Email" required="" placeholder="Email">
                        <input type="password" name="Password" required="" placeholder="Password">
                        <input type="submit" value="Login">

                        @Html.ActionLink("Sign Up","Signup","My", new { @class = "btn" })
                    </form>
                    
                        @if (ViewBag.Message != null)
                        {
                            <script type="text/javascript">
                    window.onload = function () {
                        alert("@ViewBag.Message");
                    }

                            </script>
                        }

                </div>

            </div>
        </div>


    </div>


</body>
</html>
